@page "/jokes"

@using NelsonProjects.Shared.Models

@inject HttpClient Http

<h4>Current Jokes</h4>
@if (jokes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Setup</th>
                <th>Punchline</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var joke in jokes)
            {
                <tr>
                    <td>@joke.Setup</td>
                    <td>@joke.Punchline</td>
                    <td>
                        <span class="oi oi-info" aria-hidden="true"></span>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <button @onclick="@(e => DeleteJoke(joke.Id))">
                            <span class="oi oi-delete" aria-hidden="true"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    private JokeModel[] jokes;

    protected override async Task OnInitializedAsync()
    {
        jokes = await Http.GetFromJsonAsync<JokeModel[]>("api/jokes");
    }

    private async Task DeleteJoke(int id)
    {
        Console.WriteLine(id);

        await Http.DeleteAsync($"api/jokes/{id}");
    }

}
